version: '3.8'
name: orders-service

services:
  user-service:
    build: .
    container_name: order_service
    env_file:
      - .env
    ports:
      - "4002:4002"
    depends_on:
      - orders-db
    networks:
      - order-network

  orders-db:
    image: postgres:17.5
    container_name: orders_db
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - orders_data:/var/lib/postgresql/data
    networks:
      - order-network

volumes:
  orders_data:

networks:
  order-network:
    driver: bridge